# Nginx logs
/nginx/logs/*
!nginx/logs/.gitkeep

# PHP logs
/php/logs/*
!php/logs/.gitkeep

# MySQL data (mysql-backup is not created, but can be created by you to do a simple backup)
mysql/mysql-backup/*
mysql/mysql-data/*
!mysql/mysql-data/.gitkeep
